@font-face {
	font-family: titre;
	src: url(../../public/JosefinSans-Regular.ttf);
}

.lui-section-hero .container {
	max-width: 1300px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	
}

.lui-section-hero .container .lui-started {
	width: 100%;
}

.section.hero-started .slide {
	margin-top: -390px;
	position: absolute;
	top: 50%;
	right: 1px;
	width: 680px;
	height: 800px;
	z-index: 2;
	
}



a.btn,
.btn,
.elementor a.btn,
.elementor .btn,
button,
input[type="submit"] {
	padding: 0 40px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	height: 56px;
	line-height: 52px;
	text-align: center;
	text-decoration: none;
	outline: none!important;
	cursor: pointer;
	transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  border: 2px solid #000;
  background: rgb(16, 16, 144);
  box-shadow: 5px 5px rgba(70, 70, 70, 0.2);
	border-radius: 56px;
	-webkit-border-radius: 56px;
}

a.btn:hover,
.btn:hover,
button:hover {
	color: #FFF;
}


.lui-subtitle{
	font-family: "titre";
	color:white 
	
}





.elementor-editor-active .section.hero-started .slide {
    right: -180px;
}

@media screen and (min-width: 1700px) {
	.section.hero-started .slide {
		margin-top: -400px;
		right: 26px;
	}
}

.section.hero-started .slide img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 380px;
	-webkit-border-radius: 380px;
	z-index: 10;
}

.section.hero-started .slide .circle {
	position: absolute;
	left: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.section.hero-started .slide .circle.circle-1 {
    width: 680px;
    height: 680px;
    z-index: 2;
    filter: blur(5px);
    backdrop-filter: blur(0.5px); /* Add this line for backdrop filter */
    border-radius: 100%;
    -webkit-border-radius: 100%;
}


.section.hero-started .slide .circle.img-1 {
	top: 75px;
	right: 40px;
	left: auto;
	width: 226px;
	height: 226px;
    z-index: 0;
}

.section.hero-started .slide .circle.img-2 {
	bottom: 50px;
	right: auto;
	top: auto;
	left: -110px;
	width: 141px;
	height: 141px;
}

.section.hero-started .slide .circle.img-3 {
	bottom: 10px;
	right: 20px;
	top: auto;
	left: auto;
	width: 141px;
	height: 141px;
    z-index: 0;

}

.section.hero-started .content {
	padding-top: 40px;
	position: relative;
    padding-left: 22px;
}

@media screen and (min-width: 1700px) {
	.section.hero-started .content {
		padding-top: 20px;
	}
}

.section.hero-started .titles {
	max-width: 640px;
	z-index: 3;
}

.section.hero-started .title {
	font-family: "titre";
	font-size: 90px;
	line-height: 1.2;
	color: #FFF;
	font-weight: 700;
	margin: 15px 0 0 0;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-shadow: 0px 3px 0px #fafafa, -4px 7px #504d4d, -5px 7px 20px #504d4d, -1px 7px #504d4d, -9px 6px 10px rgba(255, 255, 255, 0.2);

}

.section.hero-started .lui-subtitle {
	font-size: 20px;
}

.section.hero-started .label strong,
.section.hero-started .label b {
	font-family: 'titre';
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0;
	text-transform: none;
	margin-left: 10px;
	color: #1571e1;
}

.section.hero-started .description {
	padding: 40px 0 40px 0;
	font-size: 18px;
	max-width: 520px;
}

.section.hero-started .description p {
	margin: 0;
	opacity: 0.8;
}

.section.hero-started .bts {
	font-size: 10;
}

.section.hero-started .social-links {
	margin-top: 30px;
	line-height: 1;
}

.section.hero-started .info-list {
	position: absolute;
	top: 420px;
	left: -125px;
	z-index: 12;
}

.section.hero-started .subtitle strong,
.section.hero-started .title strong,
.section.hero-started .info-list ul li strong,
.section.hero-started .subtitle b,
.section.hero-started .title b,
.section.hero-started .info-list ul li b {
	color: #2963a5;
}



/* responsive */


@media screen and (max-width: 1024px) {



	/*hero started*/
	.section.hero-started .content {
		padding-top: 140px;
		text-align: center;
	}
	.section.hero-started .titles {
		margin-bottom: 760px;
		max-width: 100%;
	}
	.section.hero-started .title {
		font-size: 64px;
	}
	.section.hero-started .slide {
		margin-left: -340px;
		bottom: auto;
		top: 740px;
		right: auto;
		left: 50%;
		transform: scale(0.9);
		transform-origin: top center;
	}
	.section.hero-started .description {
		margin: 0 auto;
	}


}

@media screen and (max-width: 767px) {
	.lui-section {
		padding-bottom: 120px;
	}

	.container {
		padding: 0 20px;
	}
	.offset-1,
	.offset-2,
	.offset-3,
	.offset-4,
	.offset-5,
	.offset-6,
	.offset-7,
	.offset-8,
	.offset-9,
	.offset-10,
	.offset-11,
	.offset-12 {
		margin-left: 0;
	}
	h1 {
		font-size: 34px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 28px;
	}
	h4 {
		font-size: 26px;
	}
	h5 {
		font-size: 24px;
	}
	h6 {
		font-size: 18px;
	}
	p {
		margin: 20px 0;
	}
	.m-titles .m-title {
		font-size: 26px;
	}
	.section.section-inner.started-heading .m-titles .m-title {
		font-size: 34px;
	}




	/*started hero*/
	.section.hero-started .content {
		padding-top: 38px;
	}
	.section.hero-started .titles {
		margin-bottom: 420px;
		min-height: 160px;
	}
	.section.hero-started .title {
		font-size: 40px;
	}
	.section.hero-started .lui-subtitle {
		font-size: 13px;
	}
	.section.hero-started .label strong, .section.hero-started .label b {
		font-size: 24px;
	}
	.section.hero-started .slide {
		top: 680px;
		transform: scale(0.5);
	}
	.hero-started .btn-lnk {
		margin-top: 20px;
		padding-left: 0;
		padding-top: 40px;
		display: block;
	}
	a.btn-lnk:before, .btn-lnk:before {
		content :'' ;
		left: 50%;
		top: 0;
		margin-left: -1px;
		margin-top: 0;
		height: 40px;
		width: 2px;
	}



}